.primary-btn {
  padding: calc(var(--spacing-unit) * 1);
  background-color: var(--primary-red);
  color: var(--white);
  border-radius: 0.3rem;
  cursor: pointer;
  outline: none;
  border: none;
  min-width: 10vw;
  text-align: center;
  white-space: nowrap;
}

.outline-btn {
  padding: calc(var(--spacing-unit) * 1);
  background-color: var(--white);
  border: 1px solid var(--primary-red);
  color: var(--primary-red);
  border-radius: 0.3rem;
  cursor: pointer;
  outline: none;
  text-align: center;
  white-space: nowrap;
}
